.cards {
    display: flex;
}

/* https://codepen.io/jefflombard/pen/GqBzxe */
.card-container {
    display: flex;
    -webkit-flex-direction: column; 
    flex-direction: column; 
    margin-top: 2em;
}

/* https://codepen.io/jefflombard/pen/GqBzxe */
.card {
    /* Card Sizing */
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    width: 8em;
    flex: 1;
    height: 10em;
    border-radius: .25in;
    transition: 0.5s;
    filter: drop-shadow(0 0 0px black);
    /* Display Properties */
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
}

play-card:not(:first-child) {
    margin-top: -8em;
}

.card:hover,.card.selected  {
    filter: drop-shadow(0 0 3px black);
    cursor: pointer;
    margin-top: -1.5em;
    margin-bottom: 1.5em;
}

.card.selected {
    border-color: greenyellow;
}

.dark {
    /* Color information */
    border: 3px solid black;
    color: white;
    background: black;
}

.light {
    /* Color information */
    border: 3px solid black;
    color: black;
    background: white;
}

.text {
    /*font information*/
    padding-left: 7%;
    padding-right: 7%;
    word-wrap: break-word;
}